
.additionally {
    margin: 0 0 rem(82px);
    @include tablets{
        display: none;
    }
}
.additionally__list {
    display: flex;

}
.additionally__item {
    display: flex;
    align-items: center;
    margin-right: rem(82px);
    max-width: rem(90px);
    &:last-child{
        margin-right: 0;
    }
}

.additionally__img-box{
    width: rem(35px);
    height: rem(35px);
    margin-right:rem(14px);
}

.additionally__img {
    display: block;
    width: rem(35px);
    height: rem(35px);
    
    }

.additionally__title {
    color: $white;
    font-size: rem(16px);
    font-weight: 700;
    line-height: rem(18px);
}

