.logo {
    margin-right: rem(46px);
    @include tablets{
        margin: 0 0 0 rem(30px);
    }
    @include phones{
        margin: 0;
    }
}
.logo__img {
    display: block;
    width: rem(56px);
    height: rem(40px);
}
