
.reviews__title {
    margin-bottom: rem(32px);
    @include tablets{
        margin-bottom: rem(89px);
    }
    @include phones {
font-size: rem(40px);
line-height: rem(36px);
margin-bottom: rem(26px);
    }
}
.reviews__display {
    background-color: rgb(248, 250, 249);
    padding: rem(42px) rem(142px) rem(42px) rem(42px);
    position: relative;
    @include tablets{
        padding: rem(56px) rem(20px) rem(46px);
    }
    @include phones {
        padding: rem(56px) rem(30px) rem(30px);
    }
}

.reviews__list {
}
.reviews__item {
    opacity: 0;
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;

    &--active{
        position: static;
        opacity: 1;
    }
}

.reviews__inner {
display: flex;
@include tablets{
    flex-direction: column;
    text-align: center;
    align-items: center;
}
}
.reviews__img {
padding-right: rem(40px);
height: rem(264px);
@include tablets{
    width: rem(130px);
    height: rem(130px);
    padding: 0;
}
}
.reviews__content {
padding-top: rem(28px);
}

.reviews__content-title {
    color: $header;
    font-size: rem(27px);
    font-weight: 700;
    line-height: rem(32px);
    margin-bottom: rem(14px);
    }
    .reviews__content-about {
    color: $subtitle;
    font-size: rem(18px);
    font-weight: 400;
    line-height: rem(22px);
    margin-bottom: rem(25px);
    @include phones{
        margin-bottom: rem(12px);
    }
    }
    .reviews__content-writer {
    color: $header;
    font-size: rem(18px);
    font-weight: 500;
    line-height: rem(24px);
    }
    

    
.reviews__photo {
    margin-top: rem(15px);
    @include tablets{
        margin-top: rem(78px);
    }
    @include phones {
        margin-top: rem(60px);
    }
}
.reviews__photo-list {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.reviews__photo-item {
    margin-right: rem(6px);
    border: rem(6px) solid transparent;
    border-radius: 50%;
        &--active{
            border-color: $yel;
        }
    &:hover{
        border-color: $yel;
    }
}


.reviews__photo-link {
    display: block;
    height: rem(74px);
    @include phones{
        height: rem(64px);
    }
}

.reviews__photo-img {
    width: rem(74px);
    height: rem(74px);
    @include phones{
        width: rem(64px);
        height: rem(64px);
    }

}

