$white: #fff; 
$black: #000;
$header: #292929;
$subtitle:#666666;
$yel:#FEDB3F;
$yelhov:#FFD517;
$BaseFS:18px;

$tablet:768px;
$phones:500px;

$social:vk,fb, inst, tw;


@import './media.scss';
@import './layout/normalize.scss';
@import './layout/fonts.scss';
@import './layout/base.scss';
@import './components/header.scss';
@import './components/logo';
@import './components/hamburger.scss';
@import './components/preview';
@import './components/button';
@import './components/additionally';
@import './components/section';
@import './components/title';
@import './components/why';
@import './components/slider';
@import './components/team';
@import './components/product-menu';
@import './components/reviews';
@import './components/player';
@import './components/form';
@import './components/modal';
@import './components/map.scss';
@import './components/_footer';
@import './components/fix-menu';
@import './components/overlay';



















